
.navbar {
border-radius: 0;
box-shadow: 0px 1px 3px #2a2a2a;
font-family: 'Open Sans', Helvetica, Arial, sans-serif;
font-size: 17px;
font-weight: normal;

}

.navbar-inverse a.navbar-brand {
font-family: 'Open Sans', Helvetica, Arial, sans-serif;
font-size: 17px;
font-weight: 400;
color: white;
}